﻿@model WebApp.VistaModelo.ModeloVistaPrestamo
@ViewBag.ModeloVistaPrestamo IEnumerable<WebApp.VistaModelo.ModeloVistaPrestamo>

@{
    ViewData["Title"] = "Index";
}

<h2>Prestamo Libros</h2>

<h2>
    @ViewBag.MensageError
</h2>

@using (Html.BeginForm("Index", "Prestamo"))
{
    <div class="form-horizontal">
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Isbn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Isbn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Isbn, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
